<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-compte-heading">Create or edit a Compte</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_code">Code</label>
                    <input type="text" class="form-control" name="code" id="field_code"
                           formControlName="code"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_solde">Solde</label>
                    <input type="number" class="form-control" name="solde" id="field_solde"
                           formControlName="solde"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_soldeAvant">Solde Avant</label>
                    <input type="number" class="form-control" name="soldeAvant" id="field_soldeAvant"
                           formControlName="soldeAvant"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                           formControlName="description"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_dateUpdate">Date Update</label>
                    <div class="input-group">
                        <input id="field_dateUpdate" type="text" class="form-control" name="dateUpdate" ngbDatepicker  #dateUpdateDp="ngbDatepicker" formControlName="dateUpdate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateUpdateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_active">Active</label>
                    <input type="checkbox" class="form-control" name="active" id="field_active"
                           formControlName="active"/>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
